//META{"name":"Loli","description":"LoliTheme - Based on a Electro Theme - Using Phoenix Bundle Base |","author":"Metick","version":"2"}*//
/* Variables */
/* Imports */
@import url("https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css");
@import url('https://raw.githack.com/codedotspectra/themes/master/mini-themes/settingsIcons.css');
@import "https://monstrousdev.github.io/themes/phoenix-bundle/base.css";

:root { 
 --roundness: 3px; 
 --main-color: #d378f5; 
 --hover-color: #deacf0; 
 --home-color: #eee; 
 --shadow: rgba(0,0,0,.4); 
 }
/* Variables */

:root {
  --theme-name: "Loli";
}

  /* Dark Mode */ 
  .theme-dark,
  .appMount-3VJmYg,
  .theme-dark .theme-light {
    --primary-color: #19191b;
    --secondary-color: #1E1E21;
    --tertiary-color: #232327;
    --quaternary-color: #101011;
  }

  /* Light Mode */
  .theme-light,
  .theme-light .theme-dark {
    --primary-color: #ffffff;
    --secondary-color: #f3f3f3;
    --tertiary-color: #eeeeee;
    --quaternary-color: #dbdbdb;
  }

/* Water Mark */

.wordmark-2iDDfm svg {
	background-color:transparent;
	background-image:url(https://i.imgur.com/CUfgHqb.png);
	background-size:contain;
	width:100px;
	height:16px;
	padding-left:15px;
	padding-right:15px;
	margin-left:0;
	display:block;
}

.homeIcon-tEMBK1 {
  background-color: var(--home-color);
  -webkit-mask: url(https://monstrousdev.github.io/themes/assets/svgs/home.svg);
  -webkit-mask-size: var(--home-size);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.homeIcon-tEMBK1 defs,
.homeIcon-tEMBK1 g {
  display: none;
}

.base-3dtUhz {
  border-radius: 0 !important;
}

.platform-osx .base-3dtUhz {
  margin-top: 32px;
}

.wrapper-1Rf91z {
  border-radius: 0;
}

#app-mount .wrapper-1BJsBx .childWrapper-anI2G9 {
  background-color: transparent;
}

/*  Title Bar */
#app-mount,
.app-2rEoOp {
  background-color: var(--quaternary-color) !important;
}
#app-mount .akaBadge-1M-1Gw 
{
	color:white;
}
/*  Chat Header */
  /*  Headers */
.title-3qD0b-,
.header-2o-2hj,
.headerBar-UHpsPw {
  background: var(--quaternary-color) !important;
}

.guildsWrapper-5TJh6A:not(.foldercontent) .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4,
.wrapper-1Rf91z:not(.foldercontent) .scrollerWrap-1IAIlv .scroller-2TZvBN>.tutorialContainer-1v44GL {
  background-color: var(--quaternary-color) !important;
}

  /* Search Bars */
.search .searchBarIcon-1J6sKG {
  background-color: var(--quaternary-color);
}

.privateChannels-1nO12o .searchBar-6Kv8R2 {
  background: var(--quaternary-color);
}
#app-mount .expandedFolderBackground-2sPsd-::before 
{
	background-color: var(--main-color);
	opacity: 0.07;
	border-radius: 3px;
}


/* User Settings */
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebar-CFHs9e,
.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
  background-color: var(--quaternary-color) !important;
}

.standardSidebarView-3F1I7i .contentRegion-3nDuYy {
  background-color: var(--primary-color) !important;
}

.wrapper-3jrx9n {
  border-color: var(--main-color);
}

.selected-mKYnfr.option-n0icdO {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.option-n0icdO:hover {
  background-color: var(--hover-color)
}

.paginator-166-09 {
  background: var(--tertiary-color) !important;
}

.notches-1sAcEM {
  background-image: none !important;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
  -webkit-mask-repeat: repeat-x;
  width: 100%;
  background-color: var(--primary-color);
}

/* Guilds Wrapper */
#app-mount .guildsWrapper-5TJh6A,
#app-mount .wrapper-1Rf91z,
#app-mount .scroller-2TZvBN,
.wrapper-1Rf91z:not(.foldercontent) .scrollerWrap-1IAIlv .scroller-2TZvBN>.listItem-2P_4kh:first-child {
  background-color: var(--quaternary-color);
}



/* Channels */
.channels-Ie2l6A, 
.container-PNkimc,
#app-mount .scroller-1JbKMe,
#app-mount .perksModal-fSYqOq {
  background-color: var(--primary-color)
}

.wrapper-2NJDcI,
.container-16j22k {
  background-color: var(--primary-color) !important;
}

#app-mount .users-i_3-kL {
  background-color: var(--secondary-color)
}

/* Account Area */
#app-mount .panels-j1Uci_ {
  background-color: var(--secondary-color);
  border-bottom: transparent;
}
#bd-pub-button {
	color:white!important;
}


/* Members List */
.members-1998pB {
  background-color: var(--primary-color) !important;
}



/* Chat */
.chat-3bRxxu, 
.chat-3bRxxu form, 
.content-yTz4x3,
.messagesWrapper-3lZDfY,
.noChannel-Z1DQK7 {
  background-color: var(--primary-color) !important;
}

.private-channel-call,
.video-1FfuMD,
.privateChannels-1nO12o .scrollerWrap-2lJEkd::after {
  background-color: var(--quaternary-color) !important;
}

.inner-zqa7da,
.scrollableContainer-38zsVD,
.scrollableContainer-2NUZem {
  background-color: var(--secondary-color) !important;
}

.searchResultsWrap-2DKFzt {
  background-color: var(--primary-color) !important;
}

.wrapper-29NfPK {
  background-color: var(--quaternary-color) !important;
}
.clickable-18m--O {
	color: white;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	background-color: #0c0e0f;
}
.clickable-18m--O:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #d378f5;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	
	
}
.clickable-18m--O:hover:before, .clickable-18m--O:focus:before, .clickable-18m--O:active:before {
  right: 0;
  color: white;
}

.channel-2QD9_O.selected-1HYmZZ a {
	color: white;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.channel-2QD9_O.selected-1HYmZZ a:before { 
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #d378f5;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.channel-2QD9_O.selected-1HYmZZ a:before, .channel-2QD9_O.selected-1HYmZZ a:focus:before, .channel-2QD9_O.selected-1HYmZZ a:active:before {
	right: 0;
	color: white;

}

/* Friends List */
.container-3gCOGc {
  background-color: var(--primary-color) !important;
}



/* Games Tab */
.activityFeed-28jde9,
.root-26DmKJ,
.activityFeed-1C0EmJ {
  background: var(--primary-color) !important;
}

#app-mount .searchResultsContainer-1ma_dc {
  background-color: var(--secondary-color);
}

#app-mount .container-1r6BKw {
  background: var(--quaternary-color);
}
#app-mount .scroller-2XE8rp{
  background-color: var(--secondary-color);
}

/* Popouts */
.themedPopout-25DgLi,
#permissions-modal-wrapper #permissions-modal {
  background-color: var(--primary-color) !important;
}

.popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
  background-color: var(--quaternary-color) !important;
}

.menu-Sp6bN1 {
  background: var(--primary-color) !important;
}

.container-2x5lvQ header {
  background-color: var(--quaternary-color) !important;
}

.container-2x5lvQ section,
.reactors-Blmlhw,
.monsterModal {
  background-color: var(--primary-color) !important;
}

.sidebar-1-SQro,
.footer-3J5oP4,
#app-mount .popout-3sVMXz .news-2KwXHF {
  background-color: var(--quaternary-color) !important;
}

.add-game-popout,
.emptyPlayers-dx3qig, 
.players-1zg2l8 {
  background-color: var(--secondary-color) !important;
}

.toast {
  background: var(--tertiary-color);
  border: 1px solid var(--primary-color);
}

.root-SR8cQa .note-QfFU8y textarea:focus,
.note-3kmerW textarea:focus {
  background-color: rgba(0,0,0,0.4) !important;
}



/* Modals */
.topSectionNormal-2-vo2m,
#permissions-modal-wrapper .header,
#app-mount .tierMarkerBackground-3q29am {
  background-color: var(--quaternary-color) !important;
}

.keyboardShortcutsModal-3piNz7,
.incomingCallInner-2VmFiR,
.backdrop-1wrmKB[style*="background-color: rgb(255, 255, 255)"],
#permissions-modal-wrapper .modal-body {
  background-color: var(--primary-color) !important;
}

#app-mount .footer-1FPmkC,
#app-mount .footer-30ewN8,
#app-mount .content-3CCvMx:before {
  background-color: var(--primary-color);
  box-shadow: inset 0 1px 0 var(--quaternary-color);
}

.quickswitcher-3JagVE,
.regionSelectModal-12e-57 {
  background-color: var(--primary-color) !important;
}

.need-help-modal .header h1::after {
  left: -65px;
}

.footer-2yfCgX,
#permissions-modal-wrapper .role-side {
  background-color: var(--secondary-color) !important;
}

.metalloriff-changelog-scroller,
.sb-menu-scroller-wrapper {
  background-color: var(--primary-color);
}


/* Games Tab, Library, and Store */
.gameLibrary-TTDw4Y,
.applicationStore-1pNvnv,
.itemBackground-1jfD8p,
.root-1BQpZw,
.root-26DmKJ,
.appMount-3lHmkl .pageWrapper-1PgVDX {
  background-color: var(--primary-color) !important;
}

.missingAccess-3szpts {
  background-color: var(--primary-color) !important;
}

/*Bulk Loud Colors */

.theme-light .channel-2QD9_O,
.theme-light .channel-2QD9_O a,
.theme-light .name-2WpE7M,
.theme-light .activity-525YDR,
.theme-light .privateChannels-1nO12o header,
.container-1UB9sr,
.theme-light .title-223e2Y,
.theme-light .actionIcon-h73Pge,
.theme-light .inner-btChU7 .channel-SEolQq,
.theme-light .search-bar input,
.theme-light .search-bar input::-webkit-input-placeholder,
.theme-light .header-2o-2hj,
.theme-light .nameConnectedText-3CzNQn, 
.theme-light .nameConnectedVoice-MHUX5F, 
.theme-light .nameSelectedText-sp_EUw, 
.theme-light .nameSelectedVoice-1qSph5,
.theme-light .chat-3bRxxu form .typing-2GQL18,
.theme-light .nameHovered-21k1eo, 
.theme-light .nameSpeaking-3UhoEZ,
.theme-light.contextMenu-HLZMGh .item-1Yvehc,
.theme-light .guild-1EfMGQ .guildInner-3DSoA4 a,
.theme-light .noIcon-1a_FrS,
.theme-light .downloadIcon-3TWA3B {
    color: #111 !important;
}

.theme-light .channel-2QD9_O.selected-1HYmZZ .activityIconForeground-3VIgI8, 
.theme-light .channel-2QD9_O:hover .activityIconForeground-3VIgI8 {
    fill: #000;
}

.theme-light .activityIconForeground-3VIgI8 {
    fill: #333;
}

.theme-light .subtitle-Qv5s8c {
    color: rgba(0,0,0,0.4);
}

.theme-light .button-2KyEfG,
.theme-light.contextMenu-HLZMGh .item-1Yvehc.itemSubMenu-1vN_Yn::after{
    filter: invert(90%);
}

.theme-light .colorConnectedText-1c_uzY, 
.theme-light .colorConnectedVoice-3kyvUN, 
.theme-light .colorDefaultText-oas-QM, 
.theme-light .colorDefaultVoice-3wYlhb, 
.theme-light .colorHoveredText-OZnAgu, 
.theme-light .colorHoveredVoice-1kucsK, 
.theme-light .colorLockedText-1VRkPt, 
.theme-light .colorLockedVoice-2UlBjl, 
.theme-light .colorSelectedText-1y4Wvs, 
.theme-light .colorSelectedVoice-Xcb_9R, 
.theme-light .colorUnreadText-2t7XRb, 
.theme-light .colorUnreadVoice-137o4S,
.theme-light .textArea-2Spzkt,
.theme-light .textArea-2Spzkt::-webkit-input-placeholder,
.theme-light .search .DraftEditor-root .public-DraftEditorPlaceholder-root,
.theme-light .resultsGroup-r_nuzN .header-2N-gMV, 
.theme-light .resultsGroup-r_nuzN .plusIcon-v0BTrL, 
.theme-light .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, 
.theme-light .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
    color: #333 !important;
}

.theme-light .option-96V44q .filter-3Y_im-,
.theme-light .searchOption-zQ-1l6 .answer-1n6g43 {
    color: #666;
}
/* Settings Part */
.ace_editor
{
	border-radius:8px 8px 0 0
}
#bd-customcss-attach-controls
{
	border-radius:0 0 8px 8px
}
.bda-slist .bda-header
{
	color:var(--primary)!important
}
.bda-slist .bda-description
{
	color:hsla(0,100%,100%,.96)!important
}
.bda-slist .bda-footer
{
	max-height:50px;
	height:25px
}
.bda-slist .bda-footer a:hover,.bda-slist .bda-footer button:hover
{
	background-color:var(--primary2)!important
}
.bda-slist .bda-footer a,.bda-slist .bda-footer button
{
	-webkit-box-shadow:inset 0 -4px 0 rgba(35,39,42,.6)!important;
	background-color:var(--primary)!important;
	border:1px solid #202225!important;
	box-shadow:inset 0 -2px 0 rgba(35,39,42,.6)!important;
	color:#f6f6f7!important;
	border-radius:0!important;
	transition:all .2s ease;padding:0 2px 2px 6px
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked
{
	background:var(--primary)!important
}
.plugin-settings button
{
	background-color:var(--primary)!important;
	border:1px solid rgba(0,0,0,.98)!important;
	border-radius:0!important;
	color:#fff!important;
	padding:7px!important;
	font-weight:700;
	letter-spacing:.5px
}
.plugin-settings button:hover
{
	background-color:var(--primary2)!important;
	color:#000!important
}
.bd-pfbtn:hover
{
	background-color:var(--primary2)
}
.bd-pfbtn
{
	-webkit-box-shadow:inset 0 -4px 0 rgba(35,39,42,.6);
	background-color:var(--primary);
	border:1px solid #202225!important;
	box-shadow:inset 0 -2px 0 rgba(35,39,42,.6);
	color:#000;
	border-radius:0!important;
	transition:all .2s ease;
	padding:7px
}
.bda-slist li
{
	max-height:300px;
	border-radius:6px;
	border:1px solid #000!important;
	background-color:var(--dark)!important
}
.bda-slist .bda-footer,.bda-slist .bda-header
{
	border:none
}
.editor-wrapper
{
	position:relative;
	margin-top:25px
}
::-webkit-scrollbar
{
	border:none!important;
	width:6px!important
}
::-webkit-scrollbar-track
{
	background:0 0!important;
	border:none!important
}
::-webkit-scrollbar-track-piece
{
	background:0 0!important;
	border-radius:0!important;
	border:none!important
}
::-webkit-scrollbar-thumb
{
	background:rgba(0,0,0,.7)!important;
	border-radius:0!important;
	border:none!important
}
.scrollerWrap-2lJEkd ::-webkit-scrollbar
{
	width:150!important
}
.messagesWrapper-3lZDfY
{
	background-color:var(--medium)!important
}
.plugin-controls input,.plugin-settings input
{
	background-color:var(--light)!important;
	border:1px solid rgba(0,0,0,.5)!important;
	border-radius:0!important;
	color:#fff!important;
	padding:7px!important
}
#bd-settings-sidebar .ui-tab-bar-header,.header-2RyJ0Y
{
	color:white!important;
	background-image:linear-gradient(120deg,var(--primary) 80%,transparent 80%);
	height:28px!important;line-height:28px!important;
	padding:0 0 0 10px!important
}
#bd-settings-sidebar .ui-tab-bar-item:hover,.side-8zPYf6 .itemDefault-3Jdr52:hover,.side-8zPYf6 .itemHover-EnbcjT:hover
{
	background-color:rgba(0,0,0,.55)!important;
	border-radius:0;
	border-left:4px solid transparent
}
#bd-settings-sidebar .ui-tab-bar-item.selected,.side-8zPYf6 .itemSelected-1qLhcL
{
	background-color:rgba(0,0,0,.55)!important;
	color:#fff;
	border-left:4px solid var(--primary);
	border-radius:0
}
svg circle[stroke*="rgb(151, 168, 228)"]
{
	stroke:var(--primary)!important
}
.side-8zPYf6 .itemDefault-3Jdr52:hover[style*="background-color: rgba(114, 137, 218, 0.0980392)"],
.side-8zPYf6 .itemHover-EnbcjT:hover[style*="background-color: rgba(114, 137, 218, 0.0980392)"]
{
	background-color:rgba(114,137,218,.2)!important;
	color:#fff!important
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"]
{
	color:#7289da!important
}
.side-8zPYf6 .itemSelected-1qLhcL[style*="background-color: rgb(114, 137, 218);"]
{
	background-color:rgba(114,137,218,.5)!important;
	color:#fff!important;
	border-left:4px solid rgba(0,0,0,.55)
}
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"]
{
	color:#dc3545!important
}
.side-8zPYf6 .itemDefault-3Jdr52:hover[style*="background-color: rgba(240, 71, 71, 0.0980392);"]
{
	background-color:#dc3545!important;
	color:#fff!important;
	border-left:4px solid rgba(0,0,0,.05)
}

/* 15. Misc */
#ghostping-panel {
  background-color: var(--primary-color) !important;
}
